// COLORS
$color-primary: #004f99;
$color-primary-light: #0077e6;
$color-primary-dark: #001a33;

$color-secondary-light:  #d9b38c;
$color-secondary-dark:  #bf8040;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #e5dcc8;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// GRID
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;