.gallery {

    
    grid-column: inicio /fim;

    background-image: linear-gradient(  rgba($color-primary-light, 0.8) , rgba($color-primary-dark, 1));
    background-size: cover;
    padding: 6rem;
    padding-top: 6rem;


    display: grid;
    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem;
   
    padding: 1.5rem;

    grid-template-areas:   "v1 v1 v1 v1 t1 t1 t1 t1"
                           "v1 v1 v1 v1 t1 t1 t1 t1" 
                           "v1 v1 v1 v1 i1 i1 i6 i6"
                           "v1 v1 v1 v1 i1 i1 i6 i6"
                           "i4 i4 i3 i3 v2 v2 v2 v2" 
                           "i4 i4 i3 i3 v2 v2 v2 v2" 
                           "i2 i2 i5 i5 v2 v2 v2 v2" 
                           "i2 i2 i5 i5 v2 v2 v2 v2";


                           @include respond(tab-port) {
                            grid-template-areas:    "t1 t1 t1 t1"
                                                    "t1 t1 t1 t1" 
                                                    "v1 v1 i1 i1"
                                                    "v1 v1 i1 i1"
                                                    "i4 i4 i3 i3" 
                                                    "i4 i4 i3 i3" 
                                                    "i2 i2 i5 i5" 
                                                    "i2 i2 i5 i5"
                                                    "v2 v2 i6 i6"
                                                    "v2 v2 i6 i6";  
                                                }
                    
                                                @include respond(phone) {
                                                    grid-template-areas:"t1"
                                                                        "i1"
                                                                        "v1"
                                                                        "i2"
                                                                        "i3"
                                                                        "i4"
                                                                        "i5"
                                                                        "v2"
                                                                        "i6"
                                                                        }



                           



                           &__item {
                            &--1 {
                                grid-area: i1;
                                
                               
                            }
                    
                            &--2 {
                                grid-area: i2;
                               
                            }
                    
                            &--3 {
                                grid-area: i3;
                              
                            }
                    

                            &--4 {
                                grid-area: i4;
                            
                               
                            }
                    
                            &--5 {
                                grid-area: i5;
                           
                            }
                    
                            &--6 {
                                grid-area: i6;
                      
                            }

                            &--7 {
                                grid-area: v1;
                        
                            }
                            &--8 {
                                grid-area: v2;
         
                               
                            }
                            

                           
                    
                           
                        }        
                        
                        &__img {

                            object-fit: cover;            
                            width: 100%;
                            height: 100%;
                                        
                            display: block;

                        

                        
                        }

                        &__video {

            
                            width: 100%;
                            height: 100%;
                            object-fit: cover;                         
                            display: block;

                            @include respond(phone) {

                                height: 40rem;
                            }

                            @include respond(phone-small) {

                                height: 30rem;
                            }

                            @include respond(phone-smallest) {

                                height: 25rem;
                            }


                        
                        }

                        &__title {
                            grid-area: t1;
                            color: $color-white;
                            text-align: right;

                            @include respond(phone) {

                                text-align: center;
                            }
                        }
    

                       
}